<%-include header%>
<script type="text/javascript" src="/xheditor/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/xheditor/xheditor_lang/zh-cn.js"></script>
<script type="text/javascript">
$(pageInit);
function pageInit()
{
    $.extend(XHEDITOR.settings,{shortcuts:{'ctrl+enter':submitForm}});
    $('#content').xheditor({html5Upload:false,upMultiple:'1',upLinkUrl:"upload.php",upLinkExt:"zip,rar,txt",upImgUrl:"/uploadImg",upImgExt:"jpg,jpeg,gif,png",upFlashUrl:"upload.php",upFlashExt:"swf",upMediaUrl:"upload.php",upMediaExt:"wmv,avi,wma,mp3,mid"});
}
function insertUpload(arrMsg)
{console.log(arrMsg)
    var i,msg;
    for(i=0;i<arrMsg.length;i++)
    {
        msg=arrMsg[i];
        $("#uploadList").append('<option value="'+msg.id+'">'+msg.localname+'</option>');
    }
}
function submitForm(){$('#frmDemo').submit();}
function onsub(){
    if(myform.content.value=='' || myform.title.value==''){return false;}
    return true;
}
</script>

  <div class="well" style="width:1024px;margin:0.5em auto;">
    <ol class="breadcrumb" style="margin-top:0.2em;">
      <li><a href="/">首页</a></li>
      <li>学习专区</li>
      <li class="active">推荐学习</li>
    </ol>
  </div>
  <div class="well row" style="width:1024px;margin:1em auto;border:1px solid #eee">
      <table class="table table-striped">
      <thead>
        <tr>
          <th><h4 class="text-danger"><span class="glyphicon glyphicon-tasks"></span> 文章目录表</h4></th>
          <th><h4 class="text-danger"><span class="glyphicon glyphicon-education"></span> 文章学习</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class=" navbar" role="navigation" style="width:11em;margin:0.2em auto;">
              
              <ol class="nav navbar-nav">
                <%
                if(rsList!=undefined){
                    rsList.forEach(function(row){ %>
                <li class="active"><a class="text-success" href="/study/detail?sid=<%=row['sid']%>"><span class="glyphicon glyphicon-triangle-right"></span> <%= row['title'] %></a></li>
                <%
                     })
                }
                %>
              </ol>
            </div>
          </td>
          <td>
              <div class="" style="margin:0.2em auto;>
                <div style="width:10%;border-top:1px solid #bbb;"></div>
                <h4 class="text-info" style="text-align:center"><span class="glyphicon glyphicon-grain"></span> <%=rs[0].title%></h4>
                <div class="text-right">
                  <ul class="list-unstyled list-inline">
                    <li>作者：<%=rs[0].nicheng%></li>
                    <li>时间：<%=rs[0].createtime%></li>
                  </ul>
                </div>
                <hr width="90%">
                <div style="text-indent:2.5em;" class="text-justify">
                <%-rs[0].content%>
                </div>
                <!--<div style="text-indent:2.5em;" class="text-justify">
                  <p>
                    每个人的人生都像一条曲线，时间是横坐标，个人价值是纵坐标。一个人一生的成就就是曲线的积分。</p>
                    <p> 
                    有的人出生在优越的家庭，于是曲线的起点比其他人高。但起点高的低的曲线毕竟是少数，多数人的起点差不多；而决定积分值的更多是曲线的斜率。小的时候曲线斜率多是由一些外部因素决定，父母、家庭、幼儿园老师，也有少数小孩有些特别的遭遇，一个好的开头对曲线的走向影响重大，但这一段曲线我们自己无法控制，参变量只含外部环境和我们的基因、本性。上学之后曲线的高低开始拉开，小学、中学、大学，有了成绩拔尖的学生，也有了成绩不好的学生；有早早进入社会的，也有读到博士博士后的；不管怎样，曲线都在改变，大多数人总的趋势是在增加，有快有慢。努力投入上进的时候增加得快；堕落消沉玩游戏的时候增加得慢。曲线族继续蜿蜒着各自的方向，不尽相同，时而消沉时而斗志昂扬。</p>
                    <p>
                    长大了的我们开始有意识的让自己的曲线走得更快，走到更高的位置，我们学习如何学习，我们参加各种培训，学习各种技能，考证考博出国，我们乐此不疲。也有人想走捷径，费尽心思，让曲线跳跃，殊不知跳跃之后的不过是条虚线，虚线下即使有更多的财富也不代表他的价值和成就。也有人为了到达更高的高度，暂时放弃了一些东西，函数值跳到一个更低的位置，却以更大的斜率倔强地昂立着。</p>
                    <p> 
                    有的人开头很好，却在函数到达极值的时候错误的把函数改成了减函数，执迷不悟从而万劫不复。也有人初始值很小，用了很长时间，才与一条又一条曲线相交，超越他们。不同的专业行业在不同的时空中若有若无的展开着另一个维度，既有相信每一个维度都有最大值的人，也有不停在找那个更容易增值的方向的人。</p>
                    <p>
                    坚守在自己维度可能成为那一维度的最大值，而寻找其他维度的人也可能创造新的维度，引领世界的方向。</p>
                    <p>
                    成熟了的我们懂得把握函数的每一个变量，努力，机遇，沟通，合作，专业，效率……
                  </p>
                </div>-->
                <hr>
                <div class="text-center">
                <fieldset>
                  <legend><h4 class="text-info text-left">评论区</h4></legend>
                  <table class="table table-striped table-bordered">
                    <tr>
                      <td colspan="2">
                        <strong class="text-left text-info"><%- rs[0].renum %>条评论</strong>
                      </td>
                    </tr>
                    <%
                          if(rsReply!=undefined){
                            rsReply.forEach(function(row){
                     %>
                     <tr>
                        <td>
                          <%-row['nicheng']%><br>
                          <%-row['createtime']%>
                        </td>
                        <td>
                          <%-row['content']%>
                        </td>
                     </tr>
                     <%
                          })
                         }
                     %>
                  </table>
                      <form name="myform" method="post" action="/study/reply" onsubmit="return onsub()">
                        <% if(loginbean==undefined){ %>
                          请&nbsp;<a class="btn btn-success" href="javascript:$('#loginBtn').click();">登录</a>&nbsp;后发表回答
                        <% }else{ %>
                          <textarea id="content" name="content" cols="100" rows="9"></textarea>
                          <br><br>
                          <input type="hidden" name="sid" value="<%=rs[0].sid%>">
                          <input type="hidden" name="subflag" value="1">
                          <input type="submit" class="btn btn-success" value="评论">
                        <% } %>
                      </form>
                </fieldset>
                </div>
                <br>
                <a href="/study/ask" class="btn btn-info">我也发文章</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<%-include footer%>